{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="form-wrapper">
    <div class="formcontainer">
        <form action="{% url 'set_new_password' %}" method="post">
            {% csrf_token %}
            <h2 style="text-align:center;">Reset Password</h2>
            
            <input type="text" name="email" value="{{ email }}" >

            <input type="password" name="new_password" placeholder="New Password" required>

            <input type="password" name="confirm_password" placeholder="Confirm Password" required>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>

<style>
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #eef2f7;
    padding: 20px;
    box-sizing: border-box;
}

.formcontainer {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.formcontainer form input,
.formcontainer form button {
    width: 100%;
    padding: 14px;
    margin-top: 14px;
    font-size: 16px;
    box-sizing: border-box;
}

.formcontainer form button {
    background-color: #00ad09;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.formcontainer form button:hover {
    background-color: #023f0a;
}


</style>

{% endblock %}
